.Modal_Container {
  width: 30%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  position: fixed;
  top: 10%;
  left: 34%;
  z-index: 1000;
  animation: fade-in 0.5s;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.Modal_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Modal_Content h2 {
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.Modal_Hidden {
  display: none !important;
}

.Logo {
  width: 200px;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  margin: 12px;
  padding: 10px 15px;
}

form button {
  height: 40px;
  width: 100px;
  margin: 20px;
  color: white;
  background-color: rgb(8, 185, 255);
  cursor: pointer;
  border: none;
  outline: none;
}

form button:disabled {
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  color: gray;
}

button span {
  font-size: 1rem;
}

form a {
  margin: 12px;
  color: white;
  text-decoration: none;
}

form a:hover {
  color: rgb(150, 150, 150);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1130px) {
  .Modal_Container {
    width: 50%;
    left: 25%;
  }
}

@media (max-width: 878px) {
  .Modal_Container {
    width: 65%;
    left: 15%;
  }
  .Logo {
    width: 170px;
  }
}

@media (max-width: 450px) {
  .Modal_Container {
    width: 80%;
    height: 600px;
    top: 15%;
    left: 10%;
  }

  .Logo {
    width: 150px;
  }

  .Modal_Content h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .Modal_Container {
    height: 580px;
    top: 5%;
  }
}