.Services_Container_Active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  opacity: 0.9;
}

.Services_Container_Inactive {
  height: 800px;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
}

.Mower,
.LeafBlower,
.WeedEater {
  padding: 50px;
}

.Mower img,
.LeafBlower img,
.WeedEater img {
  width: 300px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.Mower img:hover,
.LeafBlower img:hover,
.WeedEater img:hover {
  transform: scale(1.5);
}