.Testimonial_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Testimonial_John {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 800px;
  margin: auto;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  opacity: 0.9;
}

.Testimonial_Mackenzie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 800px;
  margin: 0;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  opacity: 0.9;
}

.Testimonial_John p {
  width: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
  margin-right: 100px;
  margin-bottom: 100px;
  text-align: right;
}

.Testimonial_Mackenzie p {
  width: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
  margin-left: 100px;
  margin-bottom: 100px;
  text-align: left;
}

.Testimonial_John_Image,
.Testimonial_Mackenzie_Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Testimonial_John_Image img,
.Testimonial_Mackenzie_Image img {
  width: 300px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.Testimonial_John_Image h1,
.Testimonial_Mackenzie_Image h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  color: white;
  text-decoration: underline;
  order: 1;
}

@media (max-width: 1257px) {
  .Testimonial_John,
  .Testimonial_Mackenzie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
  }

  .Testimonial_John_Image h1,
  .Testimonial_Mackenzie_Image h1 {
    font-size: 2.5rem;
  }

  .Testimonial_John p {
    order: 1;
  }

  .Testimonial_John p,
  .Testimonial_Mackenzie p {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .Testimonial_John_Image img,
  .Testimonial_Mackenzie_Image img {
    width: 250px;
  }

  .Testimonial_Mackenzie {
    background-image: none;
    background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  }
}

@media (max-width: 637px) {
  .Testimonial_John,
  .Testimonial_Mackenzie {
    min-width: 50%;
    height: 500px;
  }

  .Testimonial_John_Image h1,
  .Testimonial_Mackenzie_Image h1 {
    font-size: 2rem;
  }

  .Testimonial_John p,
  .Testimonial_Mackenzie p {
    display: none;
  }

  .Testimonial_John_Image img,
  .Testimonial_Mackenzie img {
    width: 150px;
  }

  .Name_Image h1 {
    margin: 0;
  }

  .Testimonial_Mackenzie .Name_Image {
    order: 0;
  }
}
