.Header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-image: linear-gradient(darkblue, rgb(8, 185, 255) 90%);
  opacity: 0.9;
}

.DrawerToggle {
  display: none;
}

.Menu {
  cursor: pointer;
}

.Top_Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_Links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 150px;
}

.Logo:hover {
  opacity: 0.9;
}

.NavigationItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.NavigationItems img:hover {
  opacity: 0.5;
}

.InstagramLink img {
  width: 40px;
}

.FacebookLink img {
  width: 30px;
}

.InstagramLink img:hover,
.FacebookLink img:hover {
  opacity: 0.5;
}

.Notice {
  width: 100%;
  height: 100px;
  background-color: rgb(8, 185, 255);
}

.Notice h1 {
  margin: 0;
}

.About, 
.Services,
.Gallery,
.Store,
.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

@media (max-width: 787px) {
  .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .Top_Header {
    height: 70px;
  }

  .Logo {
    width: 100px;
  }

  .InstagramLink img {
    display: none;
  }
  
  .FacebookLink img {
    display: none;
  }

  .NavigationItems {
    display: none;
  }
}
