.Header {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
}

.DrawerToggle {
  display: none;
}

.Menu {
  cursor: pointer;
}

.Top_Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_Links {
  display: flex;
}

.Logo {
  width: 120px;
}

.Logo:hover {
  opacity: 0.9;
}

.NavigationItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.InstagramLink img {
  width: 40px;
}

.FacebookLink img {
  width: 30px;
}

.InstagramLink img:hover,
.FacebookLink img:hover {
  opacity: 0.5;
}

@media (max-width: 787px) {
  .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  .Top_Header {
    height: 70px;
  }

  .Logo {
    width: 80px;
  }

  .InstagramLink img {
    width: 35px;
  }
  
  .FacebookLink img {
    width: 25px;
  }

  .DrawerToggle {
    display: block;
  }

  .DrawerToggle img {
    width: 50px;
  }

  .NavigationItems {
    display: none;
  }
}
