.Header {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.DrawerToggle {
  display: none;
}

.Menu {
  cursor: pointer;
}

.Left_Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header_Links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 120px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.NavigationItems {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 0;
}

.InstagramLink img {
  height: 50px;
  width: 50px;
}

.FacebookLink img {
  height: 40px;
  width: 40px;
}

.InstagramLink img:hover,
.FacebookLink img:hover {
  opacity: 0.5;
}

@media (max-width: 787px) {

  .Header {

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .DrawerToggle {
    display: block;
  }

  .DrawerToggle img {
    width: 70px;
  }

  .NavigationItems {
    display: none;
  }
}