.NavigationItemLi {
  list-style: none;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 2px 0;
  padding: 0 10px;
  border-radius: 5px;
}

.About,
.Services,
.Gallery,
.Store,
.Contact {
  text-decoration: none;
  display: block;
  color: white;
  position: absolute;
  bottom: 0 !important;
  transition: bottom 0.2s ease-in;
}

.About {
  left: 22px;
}

.Services {
  left: 15px;
}

.Gallery {
  left: 15px;
}

.Store {
  left: 28px;
}

.Contact {
  left: 18px;
}

.NavigationItem_Hidden {
  position: absolute;
  bottom: -25px;
}
