.NavigationItem {
  list-style: none;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 2px 0;
  padding: 0 10px;
  border-radius: 5px;
}

.NavigationItem a {
  text-decoration: none;
  display: block;
  color: white;
  text-shadow: 1px 1px black;
}

.NavigationItem a:hover {
  opacity: 0.9;
}
