.Carousel {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.Slide_One,
.Slide_Two,
.Slide_Three,
.Slide_Four,
.Slide_Five,
.Slide_Six,
.Slide_Seven,
.Slide_Eight,
.Slide_Nine,
.Slide_Ten {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.4s ease-in, right 0.3s ease-in;
}

.Slide_One_Image,
.Slide_Two_Image,
.Slide_Three_Image,
.Slide_Four_Image,
.Slide_Five_Image,
.Slide_Six_Image,
.Slide_Seven_Image,
.Slide_Eight_Image,
.Slide_Nine_Image,
.Slide_Ten_Image {
  width: 1000px;
  height: 100%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.Back_Button {
  margin-right: 50px;
  cursor: pointer;
}

.Next_Button {
  margin-left: 50px;
  cursor: pointer;
}

.First_Slide_Unavailable {
  opacity: 0.5;
  margin-right: 50px;
  cursor: pointer;
}

.Last_Slide_Unavailable {
  opacity: 0.5;
  margin-left: 50px;
  cursor: pointer;
}

.Back_Button:hover,
.Next_Button:hover {
  opacity: 0.8;
}

@media (max-width: 1260px) {
  .Slide_One_Image,
  .Slide_Two_Image,
  .Slide_Three_Image,
  .Slide_Four_Image,
  .Slide_Five_Image,
  .Slide_Six_Image,
  .Slide_Seven_Image,
  .Slide_Eight_Image,
  .Slide_Nine_Image,
  .Slide_Ten_Image {
    width: 800px;
  }
}

@media (max-width: 1110px) {
  .Slide_One_Image,
  .Slide_Two_Image,
  .Slide_Three_Image,
  .Slide_Four_Image,
  .Slide_Five_Image,
  .Slide_Six_Image,
  .Slide_Seven_Image,
  .Slide_Eight_Image,
  .Slide_Nine_Image,
  .Slide_Ten_Image {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .Carousel {
    height: 800px;
  }

  .Slide_One,
  .Slide_Two,
  .Slide_Three,
  .Slide_Four,
  .Slide_Five,
  .Slide_Six,
  .Slide_Seven,
  .Slide_Eight,
  .Slide_Nine,
  .Slide_Ten {
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Back_Button,
  .Slide_One_Unavailable,
  .Slide_Five_Unavailable {
    order: 1;
    margin: 12px 0;
    padding: 0 5px;
  }

  .Next_Button {
    order: 3;
    margin: 12px 0;
    padding: 0 5px;
  }
}

@media (max-width: 400px) {
  .Carousel {
    height: 400px;
  }

  .Slide_One_Image,
  .Slide_Two_Image,
  .Slide_Three_Image,
  .Slide_Four_Image,
  .Slide_Five_Image,
  .Slide_Six_Image,
  .Slide_Seven_Image,
  .Slide_Eight_Image,
  .Slide_Nine_Image,
  .Slide_Ten_Image {
    width: 350px;
    height: 250px;
  }
}