.Modal_Container {
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  position: fixed;
  top: 25%;
  left: 28%;
  z-index: 1000;
  animation: fade-in 0.5s;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.Modal_Hidden {
  display: none !important;
}

.Icon_List {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  margin: 15px 0;
  padding: 0;
}

.Icon_List li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.Icon_List a {
  text-align: center;
  text-shadow: 1px 1px black;
}

.Icon_List img {
  padding: 10px;
}

.Icon_List a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.Icon_List a:hover {
    opacity: 1;
}

@media (max-width: 950px) {
  .Modal_Container {
    top: 20%;
    height: 600px;
  }

  .Icon_List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .Modal_Container {
    width: 75%;
    height: 85%;
    top: 8%;
    left: 13%;
  }

  .Icon_List a {
    font-size: 0.8rem;
  }
}