@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: url("../src/assets/images/background/grass2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 400px) {
  html {
    background-size: cover;
  }
}
