.Testimonial_Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  grid-column-gap: 250px;
  width: 100%;
  height: 650px;
  background-image: linear-gradient(rgb(8, 185, 255), rgb(13, 104, 13));
  opacity: 0.9;
  overflow-y: scroll;
  position: relative;
  padding: 50px 0;
}

.Testimonial_Container::-webkit-scrollbar {
  display: none;
}

.Testimonial_Container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1300px) {
  .Testimonial_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .Testimonial_Container::-webkit-scrollbar {
    display: block;
  }
  
  .Testimonial_Container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 637px) {
  .Testimonial_Container {
    height: 400px;
  }
}
